{% extends "base/index.html" %}

{% block navigation %}
	<li>
	    <a class="page-scroll" href="/location">Find a Coffe Shop</a>
	</li>

	{% if user.is_authenticated %}
	<li>
	    <a class="page-scroll" href="/location/create">Add a Location</a>
	</li>
	<li>
	    <a class="page-scroll" href="/logout">Logout</a>
	</li>
	{% else %}
	<li>
	    <a class="page-scroll" href="/entrance">Log in</a>
	</li>
	{% endif %}
{% endblock %}

{% block search %}
<form action="/search/" class="navbar-form navbar-right" method="get">
	<div class="form-group">
	<input type="text" placeholder="Search" class="form-control" name="query"></input>
	<!--  This query name will be the name of the GET in the url -->
	</div>
</form>
{% endblock %}


{% block main_content %}




{% endblock %}
